.user-tile {
  margin: 5px;
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  background-color: grey;
  box-sizing: border-box;
}

.user-info-tile {
  display: flex;
}

.user-info-tile img {
  height: 50px;
  width: 50px;
}

.user-name {

}
